@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Signika:wght@300;400;500;600;700&display=swap');

:root{
    --leftMenuWidth:230px;

    --BGColor: hsl(0, 12%, 94%);
    --TextCol1: hsl(230, 17%, 14%);
    --TextCol2: hsl(228, 12%, 44%);
    --LeftMenuBG: hsl(0, 0%, 96%);
    --homeIcon: url('./images/left-Menu/home.svg');
    --projectIcon:url('./images/left-Menu/Project.svg');
    --aboutMeIcon:url('./images/left-Menu/about-Me.svg');
}
/* Boiler plate of CSS */
/* --------------------------------------------------------------------------------------------------------------------------------------- */
*{
    background-color: var(--BGColor);
    font-family: 'Outfit', 'Signika', sans-serif;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
body{
    display: flex;
    flex-direction: column;
}


/*  Header */
/* --------------------------------------------------------------------------------------------------------------------------------------- */
#header{
    position: sticky;
    top: 0;
    color: var(--TextCol1);
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

/* Left Logo */
#headerLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}
#headerLeft p{
    margin: 0 30px;
    font-size: 2rem;
    font-weight: bolder;
}

/* Right Contact me */
#headerRight{
    display: flex;
    align-items: center;    
    justify-content: center;
}
#headerRight button{
    margin: 0 20px;
    background-color: #2cd27c;
    border: none;
    padding: 10px 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#contactMeIcon{
    margin-left: 5px;
    height: 20px;
    width: 20px;
    mix-blend-mode: multiply;
    filter: contrast(2)
}

/* Body oe below header part  with left menu*/
/* --------------------------------------------------------------------------------------------------------------------------------------- */
#mainBody{
    display: flex;
    height: 100%;
}


/*  Left Menu */
/* --------------------------------------------------------------------------------------------------------------------------------------- */
#homeIcone{
    content: var(--homeIcon);
}

#projectIcon{
    content: var(--projectIcon);
}

#aboutMeIcon{
    content: var(--aboutMeIcon);
}

#leftMenu{
    width: var(--leftMenuWidth);
    background-color: var(--LeftMenuBG);
    position: sticky;
    left: 0;
    height: 90vh;
    margin: 0 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Nav-ul{
    padding-left: 0;
    list-style: none;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Nav-ul li{
    background-color: inherit;
    width: 80%;
    height: 35px;
    margin: 3px 10px;
}
.Nav-ul li:hover{
    background-color: var(--BGColor);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.2s;
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 6px;
    transform: translateY(-4px);
}

.Nav-ul li a{
    background-color:inherit;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--TextCol1);
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.LeftMenuIcon{
    margin: 0px 15px 0px 5px;
    height: 25px;
    width: 25px;
    background-color: inherit;
}

.NevHeader{
    margin: 5px 0px -15px;
    padding: 0px 0px 2px 0px;
    width: 85%;
    font-size: 1.2rem;
    background-color: inherit;
    border-bottom: 1px solid var(--TextCol1);
}

/*  Main Center Body */
/* --------------------------------------------------------------------------------------------------------------------------------------- */

#ProfileCover{
    height: 130px;
    width: 100%;
    background-image: url("./images/other/cover-image.png");
    background-repeat: repeat;
    background-position:top;
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#mainContainer{
    width: calc(100% - var(--leftMenuWidth));
    background-color: inherit;
    /* background-color: red; */
    height: 300px;
}

#leftProfileCover{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    background-color: transparent;
}

#MyPic{
    height: 90px;
    width: 90px;
    /* background-color: yellow; */
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid  rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 5.15) 3px 3px 20px;
}
#MyPic>img{
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 50%;
    
    mix-blend-mode: multiply;
    filter: contrast(2);
}
#MyData{
    background-color: transparent;
}
#myName{
    font-size: 2.5rem;
    background-color: transparent;
    font-weight: bold;
    color: white;
}
#myRole{
    background-color: transparent;
    color: wheat;
}
/* #MyPic{
    height: 90px;
    width: 90px;
    /* background-color: blue; */
    /* border-radius: 50%;
    margin-left: 50px;
    border: 2px solid black; */
    /* border-color: rgba(0, 0, 0, 0.3); */
    /* box-shadow: rgba(0, 0, 0, 2.15) 5px 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

/* #leftProfileCover{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
} */